@font-face {
    font-family: "Booter - Zero Zero";
    src: url("fonts/Booter - Zero Zero.woff") format("woff"),
        url("fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #242222;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("images/Red-BG2.png");
} 

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: .5em;
    color: rgb(107, 107, 107);
    text-decoration: none;
}

.main-nav {
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(260, 260, 260, .3);
}

.main-nav li {
    padding: 0 5%;
}

.nav a:hover {
    background-color: rgba(260, 260, 260, .3);
    cursor: pointer;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.main-text {
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family: "Booter - Zero Zero";
    font-weight: normal;
    color: white
}

.main-text-large {
    font-size: 8em;
}

.content-section {
    margin: 1.6em;
    font-size: 2.5em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.main-footer {
    background-color: #7c0400f1;
    color: black;
    padding: .30em 0;
    margin-top: auto;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav img {
    width: 27px;
    height: 27px;
}

.about-pfp-image {
    float: left;
    height: 200px;
    width: 200px;
    margin: 15px;
    border-radius: 45%;
}

.line {
    display: none;
}

.btn-socials {
    background-color: #af2525;
    border: none;
    color: rgb(145, 145, 145);
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto;
    transition: .3s;
    text-decoration: none;
}

.btn-socials:hover {
    color:#680d0df6;
    background-color: rgba(0, 0, 0, .6);
    text-decoration: none;
}

.btn {
    vertical-align: .67em;
}

.socials-section-header {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color:rgb(214, 214, 214);
    text-align: center;
    font-size: 1.3em;
}

.socials-header {
    font-weight: normal;
    color:rgb(161, 161, 161);
    text-align: center;
    font-size: 1.2em;
}

.socials-item {
    margin: 30px;
    text-align: center;
}

.socials-image {
    border-radius: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .6em; 
}

.stats {
    font-family: DS-Digital;
    font-weight: normal;
    color:rgb(0, 19, 1);
    text-align: center;
    font-size: 0.8em;
}

.home-section {
    text-align: center;
}

::-webkit-scrollbar{
    width:  16px;
}
::-webkit-scrollbar-track{
    border: 7px solid #630000;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb{
    background:linear-gradient(
        45deg,
        #ff0f0f,
        #880000
        );
    border-radius: 3px;
}